.topico {
  font-size: 3em;
}

.card {
  box-sizing: border-box;
  border-style: dashed;
  border-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  transition: all 2s;
}

input {
  text-align: center;
  border-radius: 10px;
  font-size: 3em;
}

button {
  height: 3em;
  text-align: center;
  margin-left: 10px;
}
