.topico {
  font-size: 3em;
}

.card {
  box-sizing: border-box;
  border-style: dashed;
  border-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  transition: all 2s;
}

input {
  text-align: center;
  border-radius: 10px;
  font-size: 3em;
}

button {
  height: 3em;
  text-align: center;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #4527a0;
  color: white;
  border-style: none;
  box-shadow: 4px 6px 3px -1px rgba(0, 0, 0, 0.75);
}
